:root {
  --color-bodyColor: #ffffff;
  --color-h-color: #212529;
  --color-p-color: #212529;
  --color-cardColor: #ffffff;
  --color-lightToDark: #efecff;
  --color-softShadow: rgba(255, 255, 255, 0.7);
  --theme: 'light'
}
@media (prefers-color-scheme:dark) {
  :root {
    --color-bodyColor: #141414;
    --color-h-color: #f0f0f0;
    --color-p-color: #eaeaea;
    --color-cardColor: #36393f;
    --color-lightToDark: #36393f;
    --color-softShadow: rgba(0, 0, 0, 0.1);
    --theme: 'dark'
  }
}
.alert-cstm-pos {
  position: fixed;
  top: 20px;
  right: 20px
}
.alert-cstm-pos span {
  margin-left: 10px
}
.alert button {
  outline: 0
}
.alert-primary {
  background-color: #877dfb;
  color: #fff;
  border: #675aff 1px solid
}
.alert-primary button {
  color: #fff
}
.alert-primary button:hover {
  opacity: 1;
  color: #fff
}
.alert-success {
  background-color: #70ffab
}